.grafico{
    display: flex;
    justify-content: center;
}

rect{
    fill: rgba(255, 255, 255, 0.39) !important;
}

g rect{
    fill: rgb(71, 99, 177) !important;
}

.sr{
    font-size: 30px;
    display: flex;
    justify-content: center !important;
}

.graficoMedalha{

    margin-bottom: 80px;
}

.graficoModulo{
    margin-bottom: 80px;
}